@use 'tailwindcss';
@import 'primeicons/primeicons.css';

html,
body {
  height: 100%;
  margin: 0;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    sans-serif;
}

app-root {
  display: block;
  min-height: 100%;
}
